@bw600: ~"(max-width: 599px)";
@bw650: ~"(max-width: 649px)";

@bw768: ~"(max-width: 767px)";
@bw768: ~"(min-width: 768px)";

@bw1020: ~"(max-width: 1019px)";
@bw1020: ~"(min-width: 1020px)";

@bw1340: ~"(max-width: 1339px)";
@bw1340: ~"(min-width: 1340px)";

@bw1660: ~"(max-width: 1659px)";
@bw1660: ~"(min-width: 1660px)";


@white: #ffffff;
@black: #1F1E1E;
@red: #bc3324;
@red_dark: #a51505;
@gray: rgb(222, 222, 222);

@font1: "Open Sans", sans-serif;
@font2: "Lora", serif;
@font3: "mak", serif;