html, body {
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    min-height: 100vh;

}

.page-header {
    width: 100%;
    height: 147px;
    background: rgba(222, 222, 222, 0.5);
}

.page-header__container {
    padding-left: 40px;
    padding-right: 40px;
    width: 100%;
    max-width: 1414px;

}

.page-header__logo {
    width: 202px;
    height: 147px;
}

.main {
    margin: 0 auto;
    padding-left: 40px;
    padding-right: 40px;
    background-color: red;
}

.page-footer {
    margin: 0;
    width: 100%;
    height: 455px;
    background-color: pink;

}